.i {
  color: red;
}
/* .popular-products {
  margin: 40px 0;
  padding: 20px;
  background: var(--panel-color);
  border-radius: 16px;
}

.popular-products h2 {
  font-size: 1.5rem;
  margin-bottom: 20px;
}

.popular-grid {
  display: grid;
  gap: 20px;
  grid-template-columns: repeat(auto-fit, minmax(240px, 1fr));
} */
