:root {
    --primary-color:  #2D9CDB;
    --secondary-color: #27AE60;
    --bg-color: #F9FAFB;
    --title-color: #212121 ;
    --text-color: #757575;
    --input-border: #2D9CDB;
    --login-btn: #2D9CDB;
}